@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: 0;
    list-style: none;
    font-family: "Open Sans", sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
    background-image: url(assets/mobile/Header-Background.svg);
    gap: 1rem;
    padding: 5rem 2rem;
    background-size: cover;
    background-repeat: no-repeat;
}

header div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

h1 {
    font-family: "Luckiest Guy", cursive;
    font-size: 2rem;
}

h2 {
    font-weight: 800;
    color: #23272A;
}

header button {
    font-size: 0.8rem;
    border-radius: 2rem;
    width: 80vw;
    padding: 0.5rem;
    border: none;
}

#download-windows {
    color: #23272A;
}

#open-navigator {
    color: #FFFFFF;
    background: #23272A;
}

main > section:nth-child(even) {
    background: #F6F6F6;
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
}

main picture {
    text-align: center;
}

main img {
    max-width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background: #23272A;
}

@media screen and (min-width: 800px) {
    header {
        background-image: url(assets/pc/Header-Background.svg);
        align-items: center;
    }

    header div {
        flex-direction: row;
    }

    header p {
        max-width: 70vw;
    }

    header button {
        width: 40vw;
    }

    main div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        max-width: 30vw;
    }

    main h2 {
        font-size: 2rem;
    }

    main section:nth-child(odd), main section:nth-child(2) {
        flex-direction: row;
    }

    main section:nth-child(2) {
        flex-direction: row-reverse;
    }

    main section:nth-child(4) {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main section:nth-child(4) div {
        max-width: 50vw;
    }
}